@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  width: 100%;
  max-height: 100%;
}

.btn-primary,
.btn-red,
.btn-default {
  @apply px-2 py-1 rounded-md;
}

.btn-primary {
  @apply bg-blue-900 text-white;
}

.btn-red {
  @apply bg-red-800 text-white;
}

.btn-default {
  @apply bg-gray-500 text-white;
}

h1 {
  @apply text-blue-900 mb-2 text-xl;
}

label {
  @apply text-blue-900;
}

input,
textarea,
select {
  @apply border-2 border-gray-300 rounded-md px-1 w-full mb-2;
}

input:focus,
textarea:focus,
select:focus {
  @apply border-blue-900;
}

table.basic {
  @apply w-full;
}

table.basic tr td {
  @apply p-1;
}

/* table.basic thead tr td {
  @apply bg-blue-200;
}

table.basic tr td {
  @apply border border-blue-200 p-1;
} */

table.basic a,
table.basic button {
  @apply px-2 py-1 text-sm rounded-md inline-flex gap-1 mr-1;
}
